@page "/task7"
@using Microsoft.AspNetCore.Components.Sections

<h3>Task7</h3>

<section>
    <div class="card">
        <h2 class="app-name">@appName</h2>
        <p class="app-message">@message</p>
        <span class="app-status">@status</span>
    </div>
</section>

@code {
    string appName = "This is the app for Task 7";
    string message = "App is running";
    string status = "Online";
}
